In [72]:
# Daten einlesen
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("./data/Datensatz-Sensor.csv")

In [99]:
# Kleiner Überblick über Spalten und Zeilen
df.dtypes

Datum            object
Temperatur      float64
Feuchtigkeit    float64
CO2             float64
Wassergehalt    float64
Anwesenheit       int64
dtype: object

In [ ]:
# NaNs pro Spalte zählen
df.isna().sum()

Datum             0
Temperatur      102
Feuchtigkeit    321
CO2               0
Wassergehalt    459
Anwesenheit       0
dtype: int64

In [ ]:
# Min, Max und Spannweite
min_values = df.drop(columns=['Datum']).min()
max_values = df.drop(columns=['Datum']).max()
range = max_values - min_values

pd.DataFrame({
    'min': min,
    'max': max,
    'Spannweite': range
})

                              min                  max   Spannweite
Anwesenheit                     0                    1     1.000000
CO2                           0.0               2028.5  2028.500000
Datum         2015-02-02 14:19:00  2015-02-17 11:15:00          NaN
Feuchtigkeit               16.745                 39.5    22.755000
Temperatur                   19.0            55.998944    36.998944
Wassergehalt             0.002674             0.006476     0.003802